* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "header" "filter" "main" "footer";
  grid-template-rows: 90px 90px 1fr 90px;
  height: 100vh;
}
body header {
  color: rgb(142, 202, 230);
  grid-area: header;
  background-color: rgb(55, 6, 23);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
}
body header .header_title {
  display: flex;
  align-items: center;
  gap: 15px;
}
body header .header_title img {
  color: rgb(232, 93, 4);
  width: 60px;
  animation: zoom-in-out 1s ease-in-out infinite alternate;
}
body header .header_title h5 {
  text-transform: uppercase;
}
body header .header_nav #menu_btn {
  display: none;
}
body header .header_nav #menu_btn:checked ~ nav {
  height: 200px;
  padding: 10px;
}
body header .header_nav i {
  font-size: 30px;
}
body header .header_nav nav {
  color: rgb(255, 186, 8);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  background-color: rgb(208, 0, 0);
}
body header .header_nav nav ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}
body .order {
  color: rgb(255, 186, 8);
  grid-area: filter;
  background-color: rgb(157, 2, 8);
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
body main {
  grid-area: main;
  color: rgb(255, 186, 8);
  background-color: rgb(157, 2, 8);
}
body main .card_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0;
  border-radius: 10px;
  gap: 2rem;
  padding-bottom: 1.5rem;
  align-content: space-around;
  flex-grow: 3;
}
body main .card_container:hover {
  display: block;
  background-color: rgb(220, 47, 2);
  align-items: center;
  justify-content: center;
  transition: background-color 2s ease-out 0s;
}
body main .card_container img {
  width: 180px;
}
body main .card_container img:hover {
  background-color: rgb(220, 47, 2);
  transition: background-color 2s ease-out 0s;
}
body main .card_container button {
  text-transform: capitalize;
  -webkit-text-decoration: double;
          text-decoration: double;
  background-color: #f4511e;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
body main .card_container button:hover {
  background-color: rgb(55, 6, 23);
}
body main .card_container button:active {
  background-color: rgb(55, 6, 23);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
body footer {
  color: rgb(142, 202, 230);
  grid-area: footer;
  background-color: rgb(55, 6, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 2;
  }
  body {
    grid-template-areas: "header header header" "filter main main" "footer footer footer";
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 200px 1fr;
  }
  body header .header_nav label {
    display: none;
  }
  body header .header_nav i {
    font-size: 30px;
  }
  body header .header_nav nav {
    display: block;
    color: rgb(255, 183, 3);
    background-color: transparent;
    position: static;
    height: auto;
    overflow: auto;
  }
  body header .header_nav nav ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;
  }
  body header .header_title img {
    animation-play-state: paused;
  }
  body header .header_title img:hover {
    animation-play-state: running;
  }
  body main {
    grid-area: main;
  }
  body main .card_container {
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    justify-content: flex-start;
    border-radius: 20px;
    flex-wrap: wrap;
  }
  body main div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
  }
}
@media screen and (min-width: 992px) {
  body {
    grid-template-areas: "header filter filter" "header main main" "footer main main";
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 200px 1fr;
  }
  body header {
    flex-flow: column;
    justify-content: flex-start;
    gap: 15px;
  }
  body header .header_nav label {
    display: none;
  }
  body header .header_nav i {
    font-size: 30px;
  }
  body header .header_nav nav {
    display: block;
    color: rgb(255, 183, 3);
    background-color: transparent;
    position: static;
    height: auto;
    overflow: auto;
  }
  body header .header_nav nav ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
  body header .header_title img {
    animation-play-state: paused;
  }
  body header .header_title img:hover {
    animation-play-state: running;
  }
  body main .card_container {
    align-items: center;
    border: 20px;
    margin: 10px;
    justify-content: center;
    background-color: rgb(220, 47, 2);
    transition: background-color 2s ease-out 0s;
  }
  body main .card_container strong {
    text-wrap: wrap;
  }
  body main div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    flex-grow: 4;
    gap: 15px;
  }
  body footer h1 {
    overflow: hidden;
    word-wrap: break-word;
  }
}
@keyframes zoom-in-out {
  to {
    transform: scale(0.8);
  }
  from {
    transform: scale(1.2);
  }
}
@keyframes loading {
  0%, 100% {
    transform: rotate;
  }
}/*# sourceMappingURL=styles.css.map */